<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="page-content container note-has-grid">
    <div class="welcome-message text-center mb-3">
        <h3>Welcome to the Notes Dashboard &#x1F44B;</h3>
        <p>Manage your notes efficiently and easily!</p>
    </div>
    <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
        <li class="nav-item">
            <a th:href="@{/api/V1/notes/list}"
               class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2"
               th:classappend="${activeCategory == null ? 'active' : ''}">
                <span class="d-none d-md-block">All Notes</span>
            </a>
        </li>
        <li th:each="category : ${categories}" class="nav-item">
            <a th:href="@{/api/V1/notes/list/{category}(category=${category.name})}"
               class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2"
               th:classappend="${category.name == activeCategory ? 'active' : ''}">
                <span th:text="${category.name}" class="d-none d-md-block"></span>
            </a>
        </li>
        <li class="nav-item ml-auto mr-1">
            <a th:href="@{/api/V1/notes/add}" class="nav-link btn-primary rounded-pill d-flex align-items-center px-3">
                <span class="d-none d-md-block font-14">Add Note</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/api/V1/categories/list}"
               class="nav-link btn-primary rounded-pill d-flex align-items-center px-3">
                <span class="d-none d-md-block font-14">Manage Categories</span>
            </a>
        </li>
        <li class="nav-item ml-1">
            <form th:action="@{/api/V1/auth/logout}" method="POST">
                <button type="submit" class="nav-link btn btn-primary rounded-pill d-flex align-items-center px-3">
                    <span class="d-none d-md-block font-14">Logout</span>
                </button>
            </form>
        </li>
    </ul>
    <div class="tab-content bg-transparent">
        <div id="note-full-container" class="note-has-grid row">
            <div th:if="${notes.isEmpty()}" class="col-12 text-center">
                <div class="empty-notes-message">
                    <p><i class="fa fa-book fa-3x text-muted"></i></p>
                    <p>No notes here yet</p>
                </div>
            </div>
            <div th:each="note : ${notes}" class="col-md-4 single-note-item all-category">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 th:text="${note.title}" class="note-title"></h5>
                    <p class="note-info font-12 text-muted">
                        <span th:text="${#temporals.format(note.lastUpdatedOn, 'MMM dd, HH:mm')}"
                              style="font-style: italic;"></span>
                        <span class="separator"></span>
                        <em><span th:text="${#strings.replace(#strings.trim(note.content), ' ', '').length()}"></span>
                            characters</em>
                    </p>
                    <div class="note-content">
                        <p th:text="${note.content}" class="note-inner-content text-muted"></p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <a th:href="@{/api/V1/notes/edit(id=${note.id})}">
                                <span class="mr-1"><i class="fa fa-pencil edit-note"></i></span>
                            </a>
                            <a href="javascript:void(0)" class="delete-note">
                                <span class="mr-1"><i class="fa fa-trash remove-note"></i></span>
                            </a>
                        </div>
                        <div th:if="${note.category != null}" class="d-flex align-items-center">
                            <span class="text-muted">-&nbsp;</span>
                            <span th:text="${note.category.name}" class="text-muted mr-3"
                                  style="font-style: italic;"></span>
                        </div>
                    </div>
                </div>
                <div class="modal fade delete-note-modal" tabindex="-1" role="dialog" style="display: none;"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document"
                         style="max-width: 450px; width: 100%;">
                        <div class="modal-content border-0">
                            <div class="modal-header bg-info text-white modal-block">
                                <h5 class="modal-title text-white">Delete confirmation</h5>
                            </div>
                            <div class="modal-body modal-block">
                                <div class="row">
                                    <div class="col-md-12">Are you sure you want to permanently delete this note?</div>
                                </div>
                            </div>
                            <div class="modal-footer modal-block">
                                <button class="btn btn-danger modal-button" data-dismiss="modal">Cancel</button>
                                <form th:action="@{/api/V1/notes/delete(id=${note.id})}" method="POST">
                                    <button type="submit" class="btn btn-info modal-button">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/actions.js}" type="text/javascript"></script>
</body>
</html>