<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h3>Categories List</h3>
    <div class="btn-group mb-3">
        <a th:href="@{/api/V1/notes/list}" class="btn btn-outline-primary">Home</a>
        <a th:href="@{/api/V1/categories/add}" class="btn btn-outline-primary">Add Category</a>
    </div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}"></td>
            <td>
                <div class="btn-group">
                    <a th:href="@{/api/V1/categories/edit(id=${category.id})}">
                        <button type="submit" class="btn btn-info mr-1">Edit</button>
                    </a>
                    <form th:action="@{/api/V1/categories/delete(id=${category.id})}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>